{% extends 'base.html.twig' %}

{% block body %}

	<h1>Weather Forecast System</h1>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus magnam nobis accusantium, mollitia excepturi consectetur minima eveniet dolores possimus molestiae fuga, fugiat asperiores cupiditate aliquid accusamus quia magni atque similique?</p>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus magnam nobis accusantium, mollitia excepturi consectetur minima eveniet dolores possimus molestiae fuga, fugiat asperiores cupiditate aliquid accusamus quia magni atque similique?</p>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus magnam nobis accusantium, mollitia excepturi consectetur minima eveniet dolores possimus molestiae fuga, fugiat asperiores cupiditate aliquid accusamus quia magni atque similique?</p>

	{# this is a comment #}
{% endblock %}


{% block title %}
	Welcome
{% endblock %}
